var msToHMS = function msToHMS( ISOTimeString ) {

  var newDate = getDate(ISOTimeString);
  var Y = newDate.getFullYear() + '-';
  var M = (newDate.getMonth() + 1 < 10 ? '0' + (newDate.getMonth() + 1) : newDate.getMonth() + 1) + '-';
  var D = newDate.getDate() + ' ';
  var h = newDate.getHours()
  var m = newDate.getMinutes();
  var s = newDate.getSeconds();
  if(parseInt(h) < 10) {
    h = '0'+h
  }
    if(parseInt(m) < 10) {
      m = '0'+m
    }

  return h + ':' + m
}


var getCurrentDate = function getCurrentDate(localDateString) {
   var d =  localDateString.split('/')
  return d[2] + '-' + d[1] + '-' + d[0];
}

var getCurrentDay = function getCurrentDay(localDateString) {
  var d = localDateString.split('/')
  var year = d[2]
  var month = d[1]
  var day = d[0]
  var date = getDate(year + '-' + month + '-' + day);
  var day = date.getDay();
  switch(day){
    case 0: return '周日';
     case 1: return '周一';
      case 2: return '周二';
       case 3: return '周三';
        case 4: return '周四';
         case 5: return '周五';
          case 6: return '周六';
  }
}


module.exports = {
    msToHMS: msToHMS,
    getCurrentDate: getCurrentDate,
    getCurrentDay: getCurrentDay
}



